# Revisão

Como fechar um notebook?

> Home page do jupyter -> Running -> Shutdown

Instalar as extensões!
* Table of contents e collapse header:
[Instalar](https://stackoverflow.com/questions/49647705/jupyter-nbextensions-does-not-appear) 
[Habilitar](https://medium.com/@jicksy.john/adding-nbextensions-to-jupyter-notebook-2f4070aca5de)

> pip install jupyter_contrib_nbextensions

> !jupyter contrib nbextensions install

> !jupyter nbextensions_configurator enable — user

In [116]:
!jupyter nbextensions_configurator enable —user

jupyter nbextensions_configurator enable takes no extra arguments

# Aula 1 - Introdução ao Python e variáveis

Na aula de hoje, vamos explorar os seguintes tópicos em Python:

- 1) Introdução: Python;
- 2) Variáveis.
- 3) Tipos básicos de dados/variáveis;
- 4) Comentários;
- 5) Saída (output);
- 6) Entrada (input);
- 7) Operadores Matemáticos;

# Habilidades a serem desenvolvidas

Ao final da aula, o aluno dever saber:


- Primeiro programa em Python;
    - No Jupyter, mostrar como as células de código são executadas;
- Variáveis: conceito, criação e boas práticas;
- Saber dos diferentes tipos de dados básicos em Python, e em que situação utilizar cada um;
- Saber definir comentários em meio ao código;
- Saber fazer a saída de dados através do print;
- Saber fazer a entrada de dados através do input:
    - Saber converter entre diferentes tipos de dados;
    - Fazer as conversões necessárias na entrada de dados.
- Conhecer as operações matemáticas e seus símbolos em Python.

# Introdução: Python

Tradicionalmente, o primeiro programa feito em uma nova linguagem de programação consiste em exibir a frase "Olá, mundo!" na tela.

Vamos fazer isso em Python?

Para isso, basta utilizar a função `print()`, e indicar o texto a ser exibido entre aspas: "Olá, mundo!"

In [ ]:
print('Olá, mundo!')

Parabéns! Seu primeiro programa em Python foi executado com sucesso!

# Variáveis

Seria legal se pudéssemos **guardar** qualquer valor para utlizarmos no futuro, não é mesmo?

Isso é possível com o uso das **variáveis**, que são um pedacinho da memória onde armazenamos as operações do Python.


Uma variável pode legar qualquer nome, mas existem algumas regras:

- O Python **diferencia** maiúscula de minúscula (ex: "variavel" é diferente de "Variavel", "VaRiAvEl" ou "VARIAVEL")
    - Dica: melhor usar letras minúsculas pra nomes de variáveis
- O nome das variáveis **não** pode ter espaço! Use um underline ao invés de espaço: "minha_variavel" ao invés de "minha variavel"
- É melhor que o nome da variável **não** tenha acento (ex: não usar o nome "variável")
- Existem algumas palavras reservadas do Python, que **não** podem ser usadas como nome de variável, ex: and, or, if, else, lambda, etc.
- Também **não** use nome de funções para variáveis (ex: print)
- Dica geral: o nome de variavel fica preto em python!
    - Se o nome que você for dar ficar colorido, melhor escolher outro nome!

In [ ]:
and or print

In [ ]:
name

## Criando três variaveis

Agora, vamos criar três variáveis para armazenar os calores dos cálculos matemáticos

__IMPORTANTE (dica): O sinal "=" é lido como "recebe", pois o que estamos fazendo é guardando o valor da operação matemática no pedacinho de memória com o nome da variável, então o pedacinho de memória recebe o valor indicado depois do sinal de "="__

Ou seja, lemos o código a seguir como:

- A variável que demos o nome de "meu_numero", **recebe** o valor da operação "2+3" (que é 5);
- A variável que demos o nome de "variavel", **recebe** o valor da operação "1+1" (que é 2);
- A variável que demos o nome de "x", **recebe** o valor da operação "2*3" (que é 6);

O código a seguir apenas cria as variáveis: note que não há nenhum output!

In [5]:
meu_numero = 5
variavel = 2
x = 6

Para examinarmos o valor armazenado nas variáveis, podemos, individualmente, "chamar" a variável na célula:

In [6]:
meu_numero

5

In [7]:
variavel

2

In [8]:
x

6

Se quisermos exibir o valor das 3 variáveis em seguida, podemos usar o print

Note que de fato são exibidos os **valores armazenados nas variáveis!!**

In [9]:
print(meu_numero)
print(variavel)
print(x)

5
2
6

Como o próprio nome diz, variáveis podem variar, ou seja, eu posso mudar o valor que tá armazenado na variável.

Se, por exemplo, eu quiser que a variável "x" passe a receber o valor "42", eu faço simplesmente o código a seguir, que é lido como "a variável x recebe o valor 42".

In [10]:
x = 42

Após fazer isso, o valor anterior (acima), é completamente esquecido, e a variável x agora tem apenas o valor 42.

Chamando a variável:

In [11]:
x

42

## Tipos de dados/variáveis

Em python, temos 4 **tipos** principais de dados básicos

### Tipo **inteiros** (int): são números inteiros, isto é, sem casas decimais.

- Ex:
    - 1 
    - 456
    - 124023
    - 0
    - -2 (números to tipo int podem ser negativos!)

No Jupyter, números inteiros são destacados em cor verde clara

Exemplo: a idade de uma pessoa em anos, número de filhos de uma pessoa, etc.

In [12]:
idade = 18

In [13]:
idade

18

In [14]:
type(idade)

int

### Tipo **float** (float): são números com casas decimais (**em python usamos ponto ao invés de vírgula para indicar cadas decimais!**)

- Ex:
    - 3.1415
    - 1.78
    - 10.0 (essa é a representação float de um número inteiro, 10) 
    - -42.73 (números do tipo float podem ser negativos!)

No Jupyter, números float também são destacados em cor verde clara

Exemplo: a altura de uma pessoa em metros

In [26]:
altura = 1.90

In [27]:
altura

1.9

In [28]:
type(altura)

float

### Tipo **string** (str): são textos, que devem ser indicados entre aspas duplas " " ou aspas simples ' ' 

- Ex:
    - "Olá, mundo!" (para strings, podemos usar pontuação e acentuação sem problemas!)
    - "Nos encontramos às 9h30 amanhã?" (strings podem conter numeros!)
    - "100" (neste caso, é uma string que representa um numero inteiro)
    - "3.1415" (neste caso, é uma string que representa um numero float)

No Jupyter, strings são destacadas em cor vermelha

Exemplo: uma frase de despedida e um encontro marcado

In [29]:
despedida = "Isso é tudo, pe-pe-pessoal!"

In [30]:
despedida

'Isso é tudo, pe-pe-pessoal!'

In [31]:
type(despedida)

str

In [32]:
altura_2 = "1.90"

In [33]:
type(altura_2)

str

### Tipo **booleanos** (bool): Verdadeiro (True) ou Falso (False)

- Únicos dois valores possíveis: **True** ou **False**

Vamos entender a enorme importância deste tipo de dado mais a frente no curso (operações lógicas, estruturas condicionais, etc.)

No Jupyter, bools são destacados em cor verde escuro

In [34]:
booleano_1 = True 
booleano_1

True

In [35]:
type(booleano_1)

bool

In [36]:
booleano_2 = False
booleano_2

False

# Comentários


São utilizados para melhor explicar um trecho de código.

Os comentários não são executados pelo Python. 

Tudo o que está comentado é ignorado, serve apenas para guiar o usuário.

É indicado com o uso da #, e em cor azul marinho no Jupyter

- Atalho: CTRL + / : A LINHA VIRA UM COMENTÁRIO

In [37]:
isso aqui não é um comentário

SyntaxError: invalid syntax (<ipython-input-37-147d58ca3b27>, line 1)

In [38]:
# isso aqui é um comentário

In [41]:
# altura do jogador em metros
altura = 1.5

In [42]:
altura

1.5

Embora você possa fazer comentários de várias linhas apenas colocando o # na frente de cada linha:

In [46]:
# esse é um comentário muito grande, e por isso pode ser interessante
# quebrar ele em várias linhas, para ficar mais fácil de ler
# um comentário grande e complexo como esse no meio do código

# poderia continuar meu código abaixo

# peso em kg
peso = 60

# lembrar de conferir o peso acima - comentário em qq lugar da célula

Também é possível fazer comentários de várias linhas utilizando três aspas:

In [47]:
"""
esse é um comentário muito grande, e por isso pode ser interessante
quebrar ele em várias linhas, para ficar mais fácil de ler
um comentário grande e complexo como esse no meio do código

"""

'\nesse é um comentário muito grande, e por isso pode ser interessante\nquebrar ele em várias linhas, para ficar mais fácil de ler\num comentário grande e complexo como esse no meio do código\n\n'

In [48]:
"""
posso digitar qualquer coisa aqui
em várias linhas
"""

'\nposso digitar qualquer coisa aqui\nem várias linhas\n'

Note que estes "comentários" feitos com 3 aspas na verdade são strings de muitas linhas: mas o Python irá ignorá-las caso elas não sejá atribuídas a uma variável, funcionando, assim, como comentário.

De qualquer forma, o modo acima, com um # em casa linha é preferível!

# Saída (output)

É como o computador **apresenta dados de saída** para um usuário.

Utilizamos a função print() para exibir o conteúdo na tela

In [49]:
# definição de uma string
var_de_texto = 'Exemplo de texto para mostrar no output'

# função que exibe para o usuário o que foi pedido
print(var_de_texto)

Exemplo de texto para mostrar no output

Podemos imprimir diversas strings ou diversas variáveis em sequência, utilizando vírgula para separá-las dentro do print:

In [50]:
# definindo uma variavel do tipo inteiro
idade_da_pessoa = 26

# definindo uma string
nome_da_pessoa = 'Anderson'

# exibindo as duas variáveis acima após uma outra string
print(nome_da_pessoa, idade_da_pessoa)

Anderson 26

In [51]:
print('Olá', nome_da_pessoa)

Olá Anderson

Um caractere especial do print é o "\n", que serve para fazer a quebra de linha:

In [54]:
print('texto na linha 1 \n texto na linha 2')

texto na linha 1
 texto na linha 2

Depois vamos falar melhor sobre operações matemáticas em Python, mas podemos exibir o resultado de algumas operações simples usando a funçao print()

Note que as instruções são executadas __na ordem em que aparecem!__

In [55]:
print(2+2)
print(3*6)
print(8-14)

4
18
-6

In [56]:
print('2+2 =',  2+2)

2+2 = 4

O jupyter nos permite também examinar o valor de uma expressão sem a necessidade de usar o print()

Mas note que logo abaixo do código, aparece um "Out[]", o que não acontece quando usamos a função print()

Esse é um jeito de "espiar" o output das operações do Python de forma direta!

In [57]:
2+2

4

In [58]:
3*6

18

Outra coisa importante é que o Jupyter só permite examinar o valor da **última** expressão no código:

In [60]:
2+2
print('olá')
3*6

olá

18

# Entrada (input)

É como o computador **coleta dados de entrada** de um usuário através do teclado.

Utilizamos a função input() para receber os dados do usuário, que deve digitá-los

Opcionalmente, podemos colocar uma frase de instrução ao usuário na função input, dentro dos parênteses

In [63]:
# recebo os dados do usuário através da função input,
# e armazeno o resultado na variável "meu_nome"

meu_nome = input('Digite seu nome: ')
meu_nome

Digite seu nome: Bruna

'Bruna'

In [64]:
type(meu_nome)

str

__IMPORTANTE: a função input() toma o que o usuário digitou como uma string! Se o usuário digitar algum número, e algum cálculo for feito com esse número, o número deve ser transformado em int ou float!__

A melhor forma de fazer isso, é já transformar o resultado da função input em float.

Fazemos isso com uma espécie de sanduíche, colocando a função input() dentro da função float(), que transforma uma string em um float!

OBS: é melhor transformar o input em float ao invés de int, pois o float é um tipo numérico mais genérico, apesar de ocupar (um pouco) mais memória

In [70]:
minha_altura = input('Digite sua altura: ')
type(minha_altura)

Digite sua altura: 1.9

str

In [66]:
float(minha_altura)

1.95

In [69]:
# pede dois números ao usuário, e já os transforma em float
num_1 = float(input('Digite o primeiro número: '))

num_2 = float(input('Digite o segundo número: ' ))

# calcula a soma dos dois números

num_1 + num_2

Digite o primeiro número: 2
Digite o segundo número: 3

5.0

In [ ]:
Intervalo. Voltamos 17:20

# Operadores Matemáticos

Em Python, temos as principais operações matemáticas, com os respectivos símbolos:

- soma: (+)

- subtração: (-)

- multiplicação: (*)

- divisão: (/)

- potência: (**)

Além disso, temos duas operações especiais:

- divisão inteira: (//) retorna a parte inteira da divisão entre dois números

- resto da divisão: (%) se lê "mod", e retorna o resto da divisão entre dois números

In [72]:
# soma
5+9

14

In [73]:
# subtração
5-9

-4

In [74]:
# multiplicação
5*9

45

In [77]:
# divisão
5/9

0.5555555555555556

In [96]:
# potência
2**3

8

In [78]:
# divisão inteira
5 // 9

0

In [79]:
5 // 2

2

In [83]:
5 // 3

1

In [84]:
5 % 3

2

OBS: o principal uso do operador resto da divisão (%) é para avaliar se um número é par ou impar:

- se o resto da divisão de um número por 2 **É ZERO**, ele é par;
- se o resto da divisão de um número por 2 **É UM**, ele é ímpar;

# casos interessantes

In [86]:
# multiplicar int por string
3 * 'alo '

'alo alo alo '

In [88]:
# string + string
'alo ' + 'galera'

'alo galera'

In [89]:
# float vezes string
3.5 * 'alo '

TypeError: can't multiply sequence by non-int of type 'float'

In [93]:
# operações com boolean
# True -> 1
# False -> 0

5.1 + True

6.1

# Exercícios

## Faça um programa que receba um valor monetário e eleve esse valor em 15%.

In [107]:
x = float(input('Entre com o valor: '))
x_new = round(x*1.15, 3)
x_new

Entre com o valor: 100

115.0

In [109]:
# em uma única linha
round(float(input('Entre com o valor: '))*1.15, 3)

Entre com o valor: 100

115.0

In [111]:
# outro jeito
vlr = float(input('Entre com o valor: '))
vlr_2 = vlr + vlr*0.15
vlr_2

Entre com o valor: 100

115.0

In [112]:
vlr = float(input('Entre com o valor: '))
vlr = vlr + vlr*0.15
vlr

Entre com o valor: 100

115.0

## Faça um programa que receba um valor monetário e diminua esse valor em 15%.

In [114]:
x = float(input('Entre com o valor: '))
x = x*0.85
x

Entre com o valor: 10

8.5